muse_ros2/muse_ros2_ws/build/
muse_ros2/muse_ros2_ws/install/
muse_ros2/muse_ros2_ws/log/
muse_ros2/muse_ros2_ws/logs/

# ROS build artifacts
**/build/
**/install/
**/log/
**/logs/

# Compiled binaries
*.a
*.so
*.o